<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Conway's Game of Life.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Conway's Game of LifeUITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Conway_s_Game_of_LifeTests.test_any_dead_cell_with_exactly_three_live_neighbors_becomes_a_live_cell_as_if_by_reproduction.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Conway_s_Game_of_LifeTests.test_any_live_cell_with_fewer_than_two_live_neighbors_dies_as_if_by_under_population.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Conway_s_Game_of_LifeTests.test_any_live_cell_with_more_than_three_live_neighbors_dies_as_if_by_overpopulation.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Conway_s_Game_of_LifeTests.test_any_live_cell_with_two_or_three_live_neighbors_lives_on_to_the_next_generation.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Unnamed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
